* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3cccc;
  color: #2f2b2b;
  font-family: Georgia, serif;
}

header {
  padding: 40px 100px;
}

a {
  text-decoration: none;
  color: #2f2b2b;
}

.heart {
  color: #f291bb;
  font-size: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0px 90px;
  background-color: #f1ece4;
  border: 2px solid #8f8a80;
  border-radius: 9999px;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: block;
  width: 210px;
  height: auto;
  transform: translateY(9px);
}

.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
  gap: 50px;
}

.nav-right {
  justify-content: flex-end;
  gap: 60px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.profile-link :hover {
  color: #8f8a80;
}

.profile-icon {
  width: 15px;
  height: 15px;
  stroke: #2f2b2b;
  flex-shrink: 0;
}

.language-select {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #2f2b2b;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.main {
  padding: 0px 100px;
  margin-top: -5px;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #ffffff;
  margin-bottom: -7px;
  background-color: #696768;
  height: 84px;
  margin: 0px 400px;
  border-radius: 9999px;
}
